body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.navbar{
    height: 5rem;
    background-color: #F7F7F7;
}
.nav-link {
    color: #222222 !important;

}
 /* compass */
.navbar-brand {
    color: #FF385C !important;
    font-size: 1.5rem;
}

.navbar-brand:hover {
    color: #FF385C !important;
}

.fa-compass {
    color: #FF385C;
}

.fa-compass {
    color: #FF385C;
    font-size: 2rem;
    margin-right: 0.3rem;
}

/* Footer */
.f-info-links a {
text-decoration: none;
color: #222222;
}

.f-info-links a:hover {
text-decoration: underline;
}

.f-info-social,
.f-info-links,
.f-into-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-social i{
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: #F7F7F7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Card Styling */

.listing-card{
    border: none !important;
    background-color: transparent !important;
    margin-bottom: 2rem;
}
.container{
    flex:1;
}

.card-img-top {
    width: 100%;
    height: 13rem;
    object-fit: cover;
}

.card-body{
    padding-top: 0.5rem !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.card-text {
    font-size: 1rem;
    margin: 0;
    color: #222222;
}

.row{
    row-gap: 0.5rem;
}

.card:hover{
    cursor: pointer;
    opacity: 0.85;
    transition: all 0.2s ease;
}

.card-text b {
    font-weight: 600;
}

.row{
    padding-left: 1rem;
}

.card-img-top{
    border-radius: 20px !important;
    transition: all 0.2s ease;
}
.listing-link {
    text-decoration: none;
}

/* New Page */
.add-btn{
    background-color:#fe424d !important;
    border: none !important;
}

/* Edit Page */
.edit-btn {
    background-color:#fe424d !important;
    border: none !important;
}

/* Show page */
.show-img {
    height: 30vh;
}

.btns {
    display: flex;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

#map{
    height: 380px;
    width: 100%;
    border-radius: 10px;
    margin-top: 1rem;
}